html {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	margin: 32px;

}

h1 {
	font-size:  2rem;
	font-weight: bold;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

h3 {
	font-size: 1.25rem;
	font-weight: 400;
	display:  inline;
}

body {
	max-width:  900px;

}

nav {
	display:  flex;
	float: right;

}

ul {
	list-style-type: none;
	display: inline-flex;
}


 li a {
	text-decoration: none;
	padding-right: 1.5rem;
	font-weight: bold;
	color: black;
	font-size: 1.25rem;
	display: block;
}

header {
display: flex;
position: relative;
margin-left: 2rem;
text-shadow: 1px 1px 2px dimgray;
}

section {
	display: block;

}

.about-me-container{
	display: flex;}



.selfie {
	max-width: 40%;
	flex-shrink: 0;
	object-fit: contain;
	height:  auto;
}

.about-me-text-container {
	margin: 2rem;
}

button {
	background-color: orange;
	color:  white;
	border:  none;
	padding: 0.25rem;
	text-decoration: none;
}

button:hover { 
	background: url(/Users/bea/Desktop/4600410.png);
	background-size: cover;
	cursor: pointer;
	boder: none;
	color: transparent;
	height: 2.5rem;
	width: 2.5rem;
	transition: 200ms;
}

button:active {
	background: url(/Users/bea/Desktop/4600410.png);
	background-size: cover;
	cursor: pointer;
	boder: none;
	color: transparent;
	height: 2.5rem;
	width: 2.5rem;
  	transform: translateY(4px);
}
.contents {
    width: 40rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
	position: fixed;
	left: 25%;
	top: 20rem;
	animation: pop-swirl 2s ease forwards;

}

.popup img {
	max-width: 30rem;
	height: auto;
	object-fit: contain;
	text-align: center;
}
.popup { display: none; }
.popup.open { display: block; 
	}
.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
  }

  @keyframes pop-swirl {
  0% {
    transform: scale(0) rotate(360deg);
  }
  60% {
    transform: scale(0.8) rotate(-10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}


details {
	cursor:  pointer;
}


i {
padding-right: 1rem;
}

.contact {
display:  inline-block;
padding-top:  4rem;
margin-left: 2rem;
}

@media only screen and (max-width: 750px) {
	html {
		font-size: 12px;	
	}
	h1 {
		margin-top: 4rem;
	}
}